# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Node.js
node_modules/
.next/
.env.local
.env.development.local
.env.production.local

# AWS Credentials (very important!)
*.pem
*.key
*.aws

# Docker
*.log
docker-compose.override.yml

# Other
.idea/
.DS_Store
.vscode/
